[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/gbibek34/odin-recipes.git
[submodule "top-landing-page"]
	path = top-landing-page
	url = https://github.com/gbibek34/top-landing-page.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/gbibek34/rock-paper-scissors.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/gbibek34/etch-a-sketch.git
